<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753882211718-qp5b7u3lqpe2mi812kaufkpadi5jftuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753882211718-qp5b7u3lqpe2mi812kaufkpadi5jftuf</string>
	<key>API_KEY</key>
	<string>AIzaSyBMArAGQQJCesEOGSDegyJ-W6a2gBJufxI</string>
	<key>GCM_SENDER_ID</key>
	<string>753882211718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.playleap.rnative</string>
	<key>PROJECT_ID</key>
	<string>playleap-d6aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>playleap-d6aa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753882211718:ios:44be95ef229f72a5123807</string>
</dict>
</plist>