<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991286465180-g62rt2ugje34vkd5ne7no2k8vke24noj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991286465180-g62rt2ugje34vkd5ne7no2k8vke24noj</string>
	<key>API_KEY</key>
	<string>AIzaSyDRom-C__uPB-zjcoIgIUhTe8x8fgKjIgs</string>
	<key>GCM_SENDER_ID</key>
	<string>991286465180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.playleap.rnative</string>
	<key>PROJECT_ID</key>
	<string>playleap-nextjs</string>
	<key>STORAGE_BUCKET</key>
	<string>playleap-nextjs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991286465180:ios:d2c6c5bea1bc0b4d561359</string>
</dict>
</plist>